<div ng-controller="DateSelectController" class="component-inner">
    <form role="form">
        <div class="form-group">
            <label>Type:</label>
            <select class="form-control input-sm" ng-model="range.type">
                <option value="relative">Relative</option>
                <option value="absolute">Absolute</option>
            </select>
        </div>
        <div ng-show="range.type === 'absolute'">
            <div class="form-group">
                <label>From:</label>
                <input type="text" class="form-control input-sm" placeholder="2014-01-01" ng-model="range.start_absolute">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input type="text" class="form-control input-sm" placeholder="2014-01-01" ng-model="range.end_absolute">
            </div>
        </div>
        <div ng-show="range.type === 'relative'">
            <label>From:</label>
            <div class="row form-group">
                <div class="col-lg-2">
                    <input type="text"  class="form-control input-sm" placeholder="e.g. 1" value="1" ng-model="range.start_relative.value">
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
                        <select class="form-control input-sm" ng-model="range.start_relative.unit" ng-options="key as value for (key , value) in units"></select>
                        <div class="input-group-addon">Ago</div>
                    </div>
                </div>
            </div>
            <label>To:</label>
            <div class="row form-group">
                <div class="col-lg-2">
                    <input type="text" class="form-control input-sm" id="to-rel-interval" name="to-rel-unit" ng-model="range.end_relative.value">
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
                        <select class="form-control input-sm" ng-model="range.end_relative.unit" ng-options="key as value for (key , value) in units"></select>
                        <div class="input-group-addon">Ago</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>